html,
body,
#root {
  height: 100vh;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.submit {
  padding: 6px 30px;
  background-color: aqua;
  border: none;
  outline: none;
  border-radius: 7px;
}

input {
  font-size: 24px;
  border: none;
  padding: 10px;
  border-bottom: 1px solid grey;
}
